<div class="grid-list" [ngClass]="gridClass">
  <ng-container *ngIf="isGridView && enableSort">
    <div class="sort sort-header-panel">
      <button class="btn" (click)="toggleSortExpand()">{{sortByCategory}}</button>
      <button class="btn" [ngClass]="{asc: sortAscending, desc: !sortAscending}" (click)="descendingSort()">
        <i class="flaticon-arrows-2"></i>
      </button>
    </div>
  </ng-container>
  <div class="grid-header" [ngClass]="{expand: isSortExpand}">
    <ng-container *ngIf="!enableSort">
      <ng-container *ngFor="let title of columnTitles">
                    <span class="header-item">
                        {{title}}
                    </span>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="enableSort">
      <ng-container *ngFor="let title of columnTitles">
                    <span class="header-item"
                          [ngClass]="{asc: sortAscending, desc: !sortAscending, active: sortByCategory === title}"
                          (click)="getSortCategory($event)">
                        {{title}}
                    </span>
      </ng-container>
    </ng-container>

  </div>


  <ng-container *ngIf="data && data.length !== 0">
      <div class="table-row-wrapper">
        <ng-container *ngFor="let item of (sortedData | filter: filterTerm: filterBy)" class=" ">
          <div (click)="setSelectedItem(item)" class="list-item" [ngClass]="{'selected': item.selected}">
            <ng-template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{ $implicit: item }"></ng-template>
          </div>
        </ng-container>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
        <div class='list-item'></div>
      </div>
  </ng-container>

  <ng-container *ngIf="data.length == 0">
    <ng-template [ngTemplateOutlet]=" noDataTemplate ||noDataDefaultTemplate"></ng-template>
  </ng-container>


</div>

<ng-template #noDataDefaultTemplate>
  No data
</ng-template>
