@import "../assets/sass/angular-switchable-grid";

.pagination-container {
  width: 100vw;
  text-align: center;
  ul {
    display: inline-flex;
    list-style: none;
    li {
      margin: 0 5px;
      input {
        font-size: 16px;
        height: 38px;
        width: 29px;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px #e2e2e2 solid;
      }
      span {
        font-size: 18px;
      }
      a {
        transition: all 100ms ease-in-out 0s;
        background-color: $grey-200;
        border-radius: 5px 5px 5px 5px;
        color: $grey-600;
        display: block;
        font: 20px/40px Arial, sans-serif;
        height: 40px;
        margin: 0 3px;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 40px;
        padding: 3px;
        &:hover {
          background-color: $orange-700;
          color: $white;
        }
      }
      &.active a {
        background-color: $orange-700;
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
