<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/example']">
        <img src="http://apareciumlabs.com/assets/images/angular-logo.svg" alt="Angular"/>
        <span class="project-name">Switchable Grid</span><br>
        <span class="version">Version 1.0.8</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/get-started']">Get Started</a></li>
        <li><a [routerLink]="['/style-guide']">Style Guide</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="https://github.com/sanuradhag/angular-switchable-grid"><span class="github"><i
          class="flaticon-github-logo"></i></span>Github</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- Footer -->
<footer class="footer">
  <div class="footer-content container-fluid">
    <div class="row">
      <div class="col-sm-4"><img src="http://apareciumlabs.com/assets/images/angular-logo.svg" alt=""></div>
      <div class="col-sm-8">
        <p class="power-text">Coded with &hearts; by Anuradha Gunasekara ©2017. Code licensed under an
          <a href="https://github.com/sanuradhag/angular-switchable-grid/blob/master/LICENSE" target="_blank">MIT
            License</a>.</p>
      </div>
    </div>
  </div>
</footer>
