@import "~compass-mixins";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "grid/assets/sass/angular-switchable-grid";

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  padding-top: 5px;
  margin-bottom: 0;
  min-height: 65px;
  background-color: $outer-space;
  @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.26));
  .navbar-brand {
    img {
      float: left;
      margin: -10px 10px 0 10px;
    }
    span {
      &.project-name {
        color: $white;
        float: right;
      }
      &.version {
        font-size: 10px;
        float: right;
        margin-right: 3px;
        margin-top: -3px;
      }
    }
  }
  .navbar-collapse {
    ul {
      li {
        font-size: 16px;

        .github {
          i {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

.header-panel {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
  padding: 8px 15px;
  .grid-control-group {
    display: inline-flex;
    .view-switcher {
      padding: 0 5px;
      button {
        height: 34px;;
      }
    }
    .filter-type {
      padding: 0 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;

      button {
        height: 34px;
        height: 34px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .menu-content  {
        top: 35px;
        a {
          color: $grey-700;
          font-size: 14px;
        }
      }
    }
    .filter {
      padding: 0 5px;
    }
  }

}

/** GRID STYLES **/
:host /deep/ .grid-list {
  height: calc(100vh - 180px);
  overflow: hidden;
  .table-row-wrapper {
    height: calc(100vh - 243px);
    overflow: auto;
  }
}

:host /deep/ .form-control {
  input {
    outline: none;
    border: none;
  }
}

/** Footer styling **/
footer {
  background-color: $outer-space;
  .footer-content {
    padding: 12px 35px;
    .power-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12px;
      color: $white;
      margin: 0;
      opacity: .54;
      text-align: right;
      padding: 10px 0;

      a {
        color: $white;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
    .power-text {
      text-align: center !important;
    }
  }
}
