//@import "grid/styles/styles";
@import "~compass-mixins";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../assets/sass/colors";

@font-face {
  font-family: "Flaticon";
  src: url("grid/assets/fonts/flaticon/Flaticon.eot");
  src: url("grid/assets/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("grid/assets/fonts/flaticon/Flaticon.woff") format("woff"),
  url("grid/assets/fonts/flaticon/Flaticon.ttf") format("truetype"),
  url("grid/assets/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 24px;
  font-style: normal;
}

.flaticon-download-arrow:before { content: "\f129"; }
.flaticon-squares:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f114"; }


/** Jumbotron styles **/
.jumbotron {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;

  .package-info {
    h2 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    p {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  .angular-logo {
    width: 20%;
  }

  .heading {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255,.9);
    text-transform: uppercase;
  }
}

.navbar {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  padding-top: 5px;
  min-height: 65px;

  .navbar-brand {
    img {
      float: left;
      margin: -10px 10px 0 10px;
    }
    span {
      &.project-name {
        color: $white;
        float: right;
      }
      &.version {
        font-size: 10px;
        float: right;
        margin-right: 3px;
        margin-top: -3px;
      }
    }
  }
}



/** Material design flat button styles **/
.md-button-flat {
  background-color: $grey-100;
}

.md-btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;

  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.btn-flat-default {
  background-color: $grey-300;

  &:hover {
    background-color: lighten($grey-900, 100%);
  }

  &:active, &.active {
    background-color: lighten($grey-500, 50%);
  }

  &:disabled, &.disabled, &[disabled] {
    background-color: $grey-300;
  }

  .ink {
    background-color: lighten($grey-300, 80%);
  }
}

:host /deep/ .form-control {
  input {
    outline: none;
    border: none;
  }
}

/** Footer styling **/
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
  background: $black;
  color: white;

  .github {
    color: $persiangreen;
  }
  .hearts {
    color: $red;
  }
}

.header-panel {
  display: inline-flex;
}
