//@import "grid/styles/styles";
@import "~compass-mixins";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../assets/sass/colors";

@font-face {
  font-family: "Flaticon";
  src: url("grid/styles/fonts/flaticon/Flaticon.eot");
  src: url("grid/styles/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("grid/styles/fonts/flaticon/Flaticon.woff") format("woff"),
  url("grid/styles/fonts/flaticon/Flaticon.ttf") format("truetype"),
  url("grid/styles/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 24px;
  font-style: normal;
}

.flaticon-download-arrow:before { content: "\f129"; }
.flaticon-squares:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f114"; }


/** Jumbotron styles **/
.jumbotron {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;

  .package-info {
    h2 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    p {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  .angular-logo {
    width: 20%;
  }

  .heading {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255,.9);
    text-transform: uppercase;
  }
}

.navbar {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;

  //disabling the collapsing feature
  .navbar-collapse.collapse {
    display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right!important;
  }

  .grid-btn {
    padding-top: 6px;
  }

  [md2-menu-content] {
    top:30px;
  }

}



/** Material design flat button styles **/
.md-button-flat {
  background-color: $grey-100;
}

.md-btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;

  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.btn-flat-default {
  background-color: $grey-900;

  &:hover {
    background-color: lighten($grey-900, 10%);
  }

  &:active, &.active {
    background-color: lighten($grey-500, 10%);
  }

  &:disabled, &.disabled, &[disabled] {
    background-color: $grey-300;
  }

  .ink {
    background-color: lighten($grey-300, 20%);
  }
}

:host /deep/ .form-control {
  input {
    outline: none;
    border: none;
  }
}

/** Footer styling **/
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
  background: $black;
  color: white;

  .github {
    color: $persiangreen;
  }
  .hearts {
    color: $red;
  }
}

