	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/10/2017 11:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-gear:before { content: "\f100"; }
.flaticon-github-logo:before { content: "\f101"; }
.flaticon-filter-1:before { content: "\f102"; }
.flaticon-filter:before { content: "\f103"; }
.flaticon-black:before { content: "\f104"; }
.flaticon-arrows-10:before { content: "\f105"; }
.flaticon-expand-button:before { content: "\f106"; }
.flaticon-drop-down-arrow:before { content: "\f107"; }
.flaticon-go-back-left-arrow:before { content: "\f108"; }
.flaticon-arrows-9:before { content: "\f109"; }
.flaticon-arrows-7:before { content: "\f10a"; }
.flaticon-arrows-8:before { content: "\f10b"; }
.flaticon-interface-2:before { content: "\f10c"; }
.flaticon-load:before { content: "\f10d"; }
.flaticon-arrows-6:before { content: "\f10e"; }
.flaticon-arrows-5:before { content: "\f10f"; }
.flaticon-arrows-4:before { content: "\f110"; }
.flaticon-web:before { content: "\f111"; }
.flaticon-left-arrow-key:before { content: "\f112"; }
.flaticon-add-plus-button:before { content: "\f113"; }
.flaticon-mark-as-favorite-star:before { content: "\f114"; }
.flaticon-searching-magnifying-glass:before { content: "\f115"; }
.flaticon-close-button:before { content: "\f116"; }
.flaticon-check-symbol:before { content: "\f117"; }
.flaticon-back-arrow:before { content: "\f118"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f119"; }
.flaticon-arrows-3:before { content: "\f11a"; }
.flaticon-upload:before { content: "\f11b"; }
.flaticon-long-arrow-pointing-up:before { content: "\f11c"; }
.flaticon-arrows-2:before { content: "\f11d"; }
.flaticon-arrows-1:before { content: "\f11e"; }
.flaticon-arrows:before { content: "\f11f"; }
.flaticon-app:before { content: "\f120"; }
.flaticon-interface-1:before { content: "\f121"; }
.flaticon-squares:before { content: "\f122"; }
.flaticon-interface:before { content: "\f123"; }