@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@font-face {
  font-family: "Flaticon";
  src: url("/../fonts/flaticon/Flaticon.eot");
  src: url("/../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("/../fonts/flaticon/Flaticon.woff") format("woff"),
  url("/../fonts/flaticon/Flaticon.ttf") format("truetype"),
  url("/../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
