[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 24px;
  font-style: normal;
}

.flaticon-download-arrow:before { content: "\f129"; }
.flaticon-squares:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f114"; }
