//import 'codemirror/lib/codemirror.css'
body {
  margin: 0;
}

.no-data {
  position: absolute;
  top: 75px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  h2{
    font-size:24px;
  }
}
